{% extends "core/base.html" %}
{% load static %}
{% block title %} Acerca de {% endblock  %}

{% block content %}

<br><br><br>
<div class="container bg-light text-dark my-3 shadow p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="col-sm-12 col-md-3 d-flex my-3 mx-3">
            <img src="{% static 'core/img/avatar_leo.jpeg' %}" class="rounded-circle border border-dark">
        </div>
        <div class="col-sm-1"></div>
            <div class="col-sm-12 col-md-7 my-4 mx-3">
                <div class="row  d-flex justify-content-start">
                    <h2 class="text-dark"><strong>Leonardo Peña Fuentes</strong></h2>
                </div>
                <hr>
            <div class="row d-flex">
                <p class="text-dark">
                    Nací en Santiago de Chile, el 24 de marzo de 1998. Cursé la eduación básica 
                    y media en el Colegio Hermanos Carrera, y actualmente soy estudiante de Ingenería 
                    Civil en Computación mención Informática de la Universidad Tecnológica Metropolitana (UTEM).
                </p>
            </div>
            <div class="row d-flex">
                <p class="text-dark">
                    Desde los 16 años me involucré en temas científicos, dado que estos respondían mis 
                    dudas sobre el funcionamiento del universo (micro y macro). Así me familiaricé en temas 
                    como la Astronomía, Cosmología, Computación, Informática, Cuantica, etc ...
                </p>
            </div>
            <hr>
            <div class="row d-flex justify-content-center">
                <div class="col-auto" >
                    <a href="https://www.facebook.com/LeooDrewLawson">
                        <i class="fab fa-facebook icon text-dark"></i>
                    </a>
                </div>
                <div class="col-auto">
                    <a href="https://www.instagram.com/charmonium_/">
                        <i class="fab fa-instagram icon text-dark"></i>
                    </a>
                </div>
                <div class="col-auto">
                    <a href="https://qntumelectrodynamics.tumblr.com/">
                        <i class="fab fa-tumblr-square icon text-dark"></i>
                    </a>
                </div>
                <div class="col-auto" >
                    <a href="https://github.com/LeoCuantico">
                        <i class="fab fa-github icon text-dark"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}