{% extends 'core/base.html' %}
{% block title %} Contacto {% endblock  %}

{% block content %}
<br><br><br>
<div class="container bg-light text-dark mt-3 shadow p-3 mb-5 bg-white rounded">
    <div class="row my-3">
        <div class="col-sm-12 col-md-6">
            <div class="row my-3 d-flex justify-content-center">
                <h3 class="font-weight-light"><strong>Contáctame</strong></h3>
            </div>
            <hr>
            <div class="row d-flex my-3 mx-4">
                <p class="font-weight-normal">
                   Si te interesa el tema de esta página o deseas saber más sobre otros proyectos web
                   no dudes en contactarme a travéz de mis redes sociales (footer), o puedes hacerlo con el 
                   formulario a la derecha
                </p>
                <p class="font-weight-normal">
                    Aquí te dejo algunas formas de contactarme
                </p>
            </div>
            <div class="row d-flex my-2 mx-4">
                <p><strong>Whatsapp : </strong>+569 9923 7917</p>   
            </div>
            <div class="row d-flex my-2 mx-4">
                <p><strong>Email : </strong>leo.kpex@gmail.com</p>   
            </div>
        </div>
        <div class="col-sm-12 col-md-6 my-3">
            <form action="">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre" name="nombre" id="nombre">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" placeholder="@email.com" name="email" id="email" aria-describedby="emailHelp">
                    <p><small class="form-text text-muted">No compartimos tu email con nadie bb.</small></p>
                </div>
                <div class="form-group">
                    <label for="textarea">Mensaje</label>
                    <textarea name="textarea" class="form-control" id="textarea"></textarea>
                 </div>
                <div class="form-group d-flex justify-content-center">
                    <button class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}